body {
  background-color: rgb(190, 209, 234);
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  color:rgb(39, 45, 52);
  font-size: 16px;
  line-height: 24px;
  text-align: justify;;
  margin: 0px;
}

.banner {
  background-image: url(https://source.unsplash.com/random/1000x500);
  background-color: rgba(0, 0, 0, 0.8);
  background-size: cover;
  color: white;
  padding: 160px 0;
}

.banner-white {
  background-color: rgb(255, 255, 255);
  background-size: cover;
  padding: 30px 0;
  margin: 0px;
}

div {
  display: block;
}

h1 {
  font-weight: 300;
  font-size: 92px;
  text-align: center;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}

h2 {
  font-weight: 800;
  font-size: 24px;
  text-align: center;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}

h3 {
  font-weight: 600;
  text-align: left;
}

.title {
  font-weight: 800;
  font-size: 24px;
  text-align: left;
  text-shadow: none;

}

.title-calign {
  text-align: center;;
}
a {
  color:rgb(187, 115, 107);
  text-decoration: none;
}

a:hover {
  color: rgb(57, 36, 33);
}

.card {
  /* background-color: rgb(250, 250, 250);
  border-radius: 3px; */
  padding: 30px;
  margin: 80px;
  /* box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2); */
}

.card-center {
  text-align: center;
}

.container {
  width: 800px;   /* This sets the width */
  margin: 0 auto; /* This automatically sets left/right margins */
}

#profile-pic {
  height: 180px;
  border-radius: 90px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.column-padding {
 padding: 8px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline > li{
  display: inline-block;
  padding: 20px 20px;
  font-size: 48px;
}

.skills-logo-inline {
  display: inline-block;
  padding: none;
  height: 72px;
}

.space-margin {
  margin: 80px 0px;
}
.button-brown {
  background-color: rgb(187, 115, 107);
  border: none;
  color: rgb(250, 250, 250);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button-brown:hover {
  background-color: rgb(57, 36, 33);
  color: rgb(250, 250, 250);
}

.ending-background {
    background-image: url(images/flower-bkgrd2.png);
    background-color: rgba(0, 0, 0, 0.8);
    background-size: cover;
    background-position:;
    color: white;
    padding: 160px 0;

}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
