body {
  background-color: rgb(190, 209, 234);
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  color:rgb(39, 45, 52);
  font-size: 14px;
  line-height: 24px;
}

h1 {
  font-weight: 800;
}

h2 {
  font-weight: 600;
}

a {
  color:rgb(187, 115, 107);
  text-decoration: none;
}

a:hover {
  color: rgb(57, 36, 33);
}

.card {
  background-color: rgb(250, 250, 250);
  border-radius: 3px;
  padding: 30px;
  margin: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.container {
  width: 700px;   /* This sets the width */
  margin: 0 auto; /* This automatically sets left/right margins */
}

#profile-pic {
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.column-padding {
 padding: 8px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline > li{
  display: inline-block;
  padding: 0px 20px;
  font-size: 36px;
}

.card-center {
  text-align: center;
}

.button-brown {
  background-color: rgb(187, 115, 107);
  border: none;
  color: rgb(250, 250, 250);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button-brown:hover {
  background-color: rgb(57, 36, 33);
  color: rgb(250, 250, 250);
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
